
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#walker2 {
  background-color: rgb(235, 78, 17);
  width: 50px;
  height: 50px;
  position: absolute;
}
#walker {
  background-color: teal;
  width: 50px;
  height: 50px;
  position: absolute;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 16px; /* space between images */
}

.image-grid img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}